$--font-path: "~element-ui/lib/theme-chalk/fonts";
@import "~element-ui/packages/theme-chalk/src/reset";

@import "~element-ui/packages/theme-chalk/src/icon";

div.awesomplete {
    display: block;
}
