<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}">Todo List</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <script th:if="${#httpServletRequest.getHeader('User-Agent').contains('; Trident/')}" crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2Cfetch"></script>
</head>

<body>
    <div id="todolist"></div>
    <script th:src="@{/js/main.js}"></script>
    <script th:inline="javascript">
        __main.default([ /*[[#{washTheCar}]]*/'', /*[[#{learnTypescript}]]*/'', /*[[#{getALife}]]*/'', /*[[#{feedTheDog}]]*/'', /*[[#{feedTheCat}]]*/''],
            /*[[@{/api/v1}]]*/'',
            '#todolist',
            /*[[${@messageSource.locale}]]*/'en',
            /*[[${@messageSource.messages}]]*/{});
    </script>
</body>

</html>
