<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{title}">Todo List</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div id="todolist"></div>
    </div>
    <script th:src="@{/js/main.js}"></script>
    <script th:inline="javascript">
        Main.main(/*[[${todos}]]*/[],
            [ /*[[#{washTheCar}]]*/'', /*[[#{learnTypescript}]]*/'', /*[[#{getALife}]]*/'', /*[[#{feedTheDog}]]*/'', /*[[#{feedTheCat}]]*/''],
            /*[[@{/}]]*/'/',
            '#todolist',
            /*[[${@messageSource.locale}]]*/'en',
            /*[[${@messageSource.messages}]]*/{});
    </script>
</body>

</html>